#{extends '/Application/navbar.html'/}
<div class="container">
<h1 class="h1">Pregled Filmova</h1>
	<ul class="list-items">
		#{list items:movies, as:'movie'}
		<li>
			<div class="poster">
				<img alt="" src="${movie.getPosterPath()}">
			</div>
			<div class="movie">
				<h2>${movie.title}</h2>
				<p>
					Zanr : ${movie.genre}<br>
					Trajanje : ${movie.duration} mins
				</p>
			</div>
			<div>
				<input value="${movie.calculateAverageRate()}"  class="rating rating-loading" 
					data-min="0" 
					data-max="5" 
					data-step="1" 
					data-show-caption="false" 
					data-show-clear="false" 
					data-readonly="true"
					data-size="xs"
					>
			</div>
			<div class="details">
				<a href="/movies/details?id=${movie.id}" class="btn btn-primary">Detalji</a>
			</div>
		</li>
		#{/list}
	</ul>
</div>