#{extends 'standardForm.html' /}
#{set title:'Auditoriums' /}

<script>

function remove(id){
	$(location).attr('href','/Auditoriums/remove?id='+id);
}

function sync(item){
    var name = item.find(".name").html();
    var id = item.find(".id").html();
    $("#auditorium_id").val(id);
    $("#auditorium_name").val(name);    
}

</script>

<div>
<ul class="action-buttons">
  <li><a href="@{Application.index()}" id = "search"><img src="@{'/public/images/home.png'}"/></a></li>
  <li><a href="@{Auditoriums.show("add",cinema_id)}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
</ul>
</div>

<div class = "container-fluid">
	<h1>Auditoriums</h1>

	<table class="table table-bordered">
	<tr class = "header"> 
	   <th>Name</th>
	</tr>
	#{list items:auditoriums, as:'auditorium'}
	<tr>
		<td class = "name">${auditorium.name}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${auditorium.id}</td>
	</tr>
	#{/list}
	</table>
</div>

#{set 'action'}
    #{if mode == 'add'}
        @{Auditoriums.create()}
    #{/if}
    #{else}
        @{Auditoriums.edit()}
    #{/else}
    
 #{/set}


<div class = "container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-wrapper row">
				<form action = "${action}" method="post" class="form-horizontal">
					#{field 'auditorium.id'}
					<input type = "hidden" name = "${field.name}" id = "auditorium_id"/>
					#{/}
					#{field 'auditorium.cinema.id'}
					<input type = "hidden" name = "${field.name}" id = "aud_cinema_id" value="${cinema_id}"/>
					#{/}
					<div class="form-group">
						<button class="btn btn-primary" href = "/Auditoriums/show">Pregled Sedista</button>
					</div>						
					<div class="form-group">
					#{field 'auditorium.name'}
						<label for = "${field.id}" class="col-sm-3 control-label">Name</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "auditorium_name" class="form-control"/>
						</div>
					#{/}
					</div>
					<div class="form-group">
						<div id = "formActions" class="col-sm-offset-3 col-sm-9">
							<input type = "submit" value = "Submit" class="btn btn-default"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

