#{extends 'standardForm.html' /}
#{set title:'ProjectionTimes' /}

<script>

function remove(id){
	$(location).attr('href','/ProjectionTimes/remove?id='+id);
}

function sync(item){
    var time = item.find(".time").html();
    var id = item.find(".id").html();
    var price = item.find(".price").html();
    $("#projectionTime_price").val(price);
    $("#projectionTime_id").val(id);
    $("#projectionTime_time").val(time);    
}

</script>

<div>
<ul class="action-buttons">
  <li><a href="@{Application.index()}" id = "search"><img src="@{'/public/images/home.png'}"/></a></li>
  <li><a href="@{ProjectionTimes.show("add",projectionDate_id)}" id = "add"><img src="@{'/public/images/add.gif'}"/></a></li>
  <li><a href="#" id = "remove"><img src="@{'/public/images/remove.gif'}"/></a></li>
</ul>
</div>

<div class = "container-fluid">
	<h1>Projection Times</h1>

	<table class="table table-bordered">
	<tr class = "header"> 
	   <th>Time</th>
	   <th>Price</th>
	</tr>
	#{list items:projectionTimes, as:'projectionTime'}
	<tr>
		<td class = "time">${projectionTime.time}</td>
		<td class = "price">${projectionTime.price}</td>
		<td style = "visibility: hidden; max-width: 0px" class = "id">${projectionTime.id}</td>
	</tr>
	#{/list}
	</table>
</div>

#{set 'action'}
    #{if mode == 'add'}
        @{ProjectionTimes.create()}
    #{/if}
    #{else}
        @{ProjectionTimes.edit()}
    #{/else}
    
 #{/set}


<div class = "container-fluid">
	<div class="panel panel-default">
		<div class="panel-body">
			<div class="form-wrapper row">
				<form action = "${action}" method="post" class="form-horizontal">
					#{field 'projectionTime.id'}
					<input type = "hidden" name = "${field.name}" id = "projectionTime_id"/>
					#{/}
					#{field 'projectionTime.projectionDate.id'}
					<input type = "hidden" name = "${field.name}" id = "projectionDate_id" value="${projectionDate_id}"/>
					#{/}						
					<div class="form-group">
					#{field 'projectionTime.time'}
						<label for = "${field.id}" class="col-sm-3 control-label">Time</label>
						<div class="col-sm-12">
							<input type="time" name="${field.name}" id ="projectionTime_time" class="form-control"/>
						</div>
					#{/}
					</div>
					<div class="form-group">
					#{field 'projectionTime.price'}
						<label for = "${field.id}" class="col-sm-3 control-label">Price</label>
						<div class="col-sm-9">
							<input type = "text" name = "${field.name}" id = "projectionTime_price" class="form-control"/>
						</div>
					#{/}
					</div>
					<div class="form-group">
						<div id = "formActions" class="col-sm-offset-3 col-sm-9">
							<input type = "submit" value = "Submit" class="btn btn-default"/>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>

